<%- include('partials/header') %>
<main class="main">
    <div class="d-flex flex-column justify-content-center mt-4">
    <%- include('product/products') %>
    <%- include('product/under500female') %>
    <%- include('product/under500male') %>
    </div>
</main>
<%- include('partials/footer') %>
