<%- include('../partials/header') %>

<div class="main center">
    <h1><%= title %></h1>
    <% if (session.user) { %>
        <div id="cartView" class="table-responsive">
            <table class="table-overview border mb-4">
                <thead>
                    <tr>
                        <th scope="col" class="border-bottom-0">Ordernummer</th>
                        <th scope="col" class="border-bottom-0">Skapad</th>
                        <th scope="col" class="border-bottom-0">Skickas</th>
                        <th scope="col" class="border-bottom-0">Status</th>
                        <th scope="col" class="border-bottom-0"></th>
                    </tr>
                </thead>
                <tbody>
                    <%
                        counter = 0;
                    %>
                    <% for (const item of orderItems) { %>
                        <tr <%= (counter % 2) == 0 ? "class=bg-light border-bottom-0" : "" %>>
                            <td><%= item.orderID %></td>
                            <td><%= formatDate(item.purchaseTime, "yyyy-MM-dd"); %></td>
                            <% if (item.sentTime) { %>
                                <td><%= formatDate(item.sentTime, "yyyy-MM-dd"); %></td>
                            <% } else { %>
                                <td> ? </td>
                            <% }; %>
                            <td><%= item.orderStatus %></td>
                            <th scope="row">
                                <a href="/order/<%= item.orderID %>">Mer information</a>
                            </th>
                        </tr>
                        <%
                            counter++;
                        %>
                    <% }; %>
                </tbody>
            </table>
            <% if (counter < 1) { %>
                <p>Du har för tillfället inga ordrar.</p>
            <% }; %>
            <div>
                <a class="btn btn-block btn-light-blue" href="/user/userProfile">
                    <i class="far fa-arrow-alt-circle-left fa-2x"></i>
                    <span class="align-text-bottom pl-1">Tillbaka</span>
                </a>
            </div> 
        </div>
    <% } %>
    <div class="bad_message">
        <% if (message !== '') { %>
            <%= message %>
        <% } %>    
    </div>
</div>

<%- include('../partials/footer') %>